* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.dropdown-content {
    display: none;
}

header nav {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
}

nav ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid hsl(136, 65%, 51%);
}
.ham {
    display: none;
}

.request-invite {
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    font-weight: 700;
}

.request-invite:active {
    transform: scale(0.97);
}

.request-invite:hover {
    opacity: 70%;
}

.first-container {
    background-image: url(./images/bg-intro-desktop.svg);
    height: 80vh;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: flex;
    background-color: hsl(220, 16%, 96%);
}

.text-in-first-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}

.text-in-first-container h2 {
    font-weight: 300;
    font-size: 60px;
    color: hsl(233, 26%, 24%);
}

.text-in-first-container p {
    color: hsl(233, 8%, 62%);
    margin-top: 20px;
}

.text-in-first-container .request-invite {
    margin-top: 15px;
}

.image-in-first-container {
    float: right;
    width: 50%;
}

.image-in-first-container img {
    width: 100%;
}

.why-easybank-container {
    background-color: hsl(0, 0%, 98%);
    height: 55vh;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-easybank-container h2 {
    font-weight: 300;
    font-size: 35px;
}

.why-easybank-container p {
    width: 55%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

.first-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    height: 40vh;
}

.box h5 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}

.box p {
    width: 90%;
    word-wrap: break-word;
}

.latest-article {
    height: 70vh;
    padding: 70px;
    background-color: hsl(220, 16%, 96%);
}

.latest-article h3 {
    font-weight: 400;
    font-size: 30px;
    color: hsl(233, 26%, 24%);
}

.second-grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    margin-top: 30px;
}

.box2 {
    border-radius: 5px;
    background-color: white;
}

.box2 img {
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0 0;
}

.box2 h6 {
    font-size: 14px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

.box2 h5 {
    font-weight: 400;
    width: 75%;
    margin: auto;
    color: hsl(233, 26%, 24%);
    font-size: 18px;
    margin-top: 10px;
}

.box2 p {
    width: 75%;
    margin: auto;
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 13px;
    color: hsl(233, 8%, 62%);
}

footer {
    height: 10vh;
    padding: 70px;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
}

footer .logo {
    color: white;
}

.logo-and-socials {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials img{
    border-radius: 100%;
    margin-top: 20px;
}

.socials img:hover {
    cursor: pointer;
    background-color: hsl(136, 65%, 51%);
}

.a-links {
    display: flex;
    gap: 40px;
}

.a-tags1, .a-tags2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.footer-button .btn {
    display: flex;
    justify-content: right;
}

.footer-button p {
    color: hsl(233, 8%, 62%);
    margin-top: 10px;
    font-size: 14px;
}

@media only screen and (max-width: 500px) {
    header nav ul{
        display: none;
    }

    header nav button {
        display: none;
    }

    .ham {
        display: flex;
    }

    .first-container {
        background-image: url(./images/bg-intro-mobile.svg);
        background-position: top;
        flex-direction: column;
        height: fit-content;
    }

    .dropdown-content {
        display: none;
        height: fit-content;
        width: 90%;
        border-radius: 15px;
        z-index: 1;
        position: absolute;
        left: 22px;
        background-color: hsl(220, 16%, 96%);
        margin-top: 40px;
    }

    .dropdown-content ul {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .first-container .image-in-first-container {
        overflow: hidden;
        position: relative; 
        width: 100%;
        order: -1;
    }

    .first-container .image-in-first-container img {
        width: 100%;
        position: relative;
        bottom: 140px;
    }

    .text-in-first-container {
        width: 90%;
        padding: 0;
        margin: auto;
    }
      
    .text-in-first-container h2 {
        width: 90%;
        font-size: 40px;
        margin: auto;
        text-align: center;
        margin-top: 0;
        margin-top: -90px;
    }

    .text-in-first-container p {
        text-align: center;
        width: 95%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .text-in-first-container button {
        display: block;
        margin: auto;
        margin-bottom: 40px;
    }

    .why-easybank-container {
        height: fit-content;
        padding: 0;
        width: 100%;
        padding-top: 30px;
    }
    
    .why-easybank-container h2 {
        width: 90%;
        text-align: center;
    }

    .why-easybank-container p {
        width: 90%;
        text-align: center;
        font-size: 15px;
    }

    .text {
        display: flex;
        width: 100%;
        margin: auto
    }

    .text2 {
        margin: auto;
    }

    .first-grid {
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    .box {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .box img {
        display: block;
        margin: auto;
    }

    .box p {
        width: 100%;
        font-size: 20px;
    }

    .latest-article {
        height: fit-content;
        padding: 0;
        padding-top: 50px;
    }

    .latest-article h3 {
        text-align: center;
        margin-bottom: 30px;
    }

    .second-grid {
        display: flex;
        flex-direction: column;
    }

    .box2 {
        width: 90%;
        margin: auto;
        height: fit-content;
        margin-bottom: 35px;
        padding-bottom: 25px;
    }

    .box2 h6 {
        width: 90%;
    }

    .box2 h5 {
        width: 90%;
    }

    .box2 p {
        width: 90%;
        font-weight: 400;
    }

    footer {
        padding: 0;
        height: fit-content;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .logo-and-socials {
        width: 100%;
        flex-direction: column;
    }

    .a-links {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .logo {
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .socials {
        margin: auto;
        gap: 18px;
        margin-bottom: 30px;
    }

    .a-tags1, .a-tags2 {
        text-align: center;
        margin-top: 10px;
    }

    .footer-button .btn {
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .footer-button p {
        text-align: center;
        margin-bottom: 35px;
    }
}